footer {
  width: 100%;
  background-color: #1f1f1f;
  height: 400px;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;

  .footer_top {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 150px;
    border-bottom: 0.5px solid #363636;

    .logo_nav {
      width: 100%;
      display: flex;
      align-items: center;
      a {
        img {
          width: 90px;
        }
      }

      nav {
        width: 100%;
        margin-left: 30px;
        ul {
          display: flex;
          justify-content: center;
          li {
            margin: 0 30px;
            a {
              color: #fff;
              font-size: 15px;
              font-family: "Poppins", sans-serif;
              &:hover {
                color: #3a908a;
              }
            }
          }
        }
      }
    }

    .social_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      ul {
        display: flex;
        justify-content: center;
        li {
          width: 40px;
          height: 40px;
          border: 1px solid #fff;
          font-size: 15px;
          border-radius: 100%;
          margin: 0 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            color: #fff;
          }
          &:hover {
            background-color: transparent;
            transition: 1s;
            background-color: #3a908a;
            border: none;
          }
        }
      }
    }
    &:hover {
      transition: 0.6s;
      border-bottom: 0.5px solid #3a908a;
    }
  }

  .footer_bottom {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #c9c9c9;
    margin-top: 30px;
  }
}


@media screen and (max-width: 1024px) {
  footer {
    height: auto;
    padding-bottom: 2rem;
    .footer_top {
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 50px;
      .logo_nav {
        display: block;
        width: auto;
        text-align: center;
        nav {
          margin-top: 20px;
          margin-left: 0;
          ul li {
            margin: 5px 15px;
            a { font-size: 14px; }
          }
        }
      }
      .social_bar {
        margin-top: 25px;
      }
    }
    .footer_bottom {
      font-size: 12px;
      margin-top: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 5rem;
    .footer_top {
      padding-top: 40px;
      padding-bottom: 40px;
      .logo_nav a img {
        width: 70px;
      }
      .logo_nav nav ul li {
        margin: 5px 10px;
        a { font-size: 13px; }
      }
    }
    .footer_bottom {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    margin-top: 3rem;
    .footer_top {
      padding-top: 30px;
      padding-bottom: 30px;
      .logo_nav a img {
        width: 60px;
      }
      .logo_nav nav ul {
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 5px 8px;
          a { font-size: 12px; }
        }
      }
      .social_bar {
        ul li {
          width: 32px;
          height: 32px;
          margin: 0 4px;
        }
      }
    }
    .footer_bottom {
      font-size: 10px;
      margin-top: 20px;
    }
  }
}
