
$primary-color: #3a908a;
$secondary-color: #1f1f1f;
$text-dark: #1f1f1f;
$white: #ffffff;
$black: #000000;
$gray-1: #848585;
$font-main: "Poppins", sans-serif;
$shadow-card: 0px 0px 20px rgba(179, 179, 179, 0.4);
