
.home {
  width: 100%;

  // section 1
  .introduction {
    width: 100%;
    .mySwiper {
      height: 55rem !important;
      .swiper-slide {
        height: 100%;
      }
      .slideItems {
        height: 100%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }

        .overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0.5;
        }
        .content {
          width: 100%;
          position: absolute;
          top: 20rem;
          h1 {
            color: #fff;
            width: 90%;
            font-size: 3.5rem;
            font-weight: 900;
            line-height: 70px;
            font-family: "Poppins", sans-serif;
            margin-bottom: 50px;
          }

          .visitWork {
            display: inline-block;
            background: #3a908a;
            border: 1px solid #3a908a;
            border-radius: 100px;
            padding: 12px 33px;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
            cursor: pointer;

            a {
              color: #fff;
              font-family: "Poppins", sans-serif;
              font-size: 1.2rem;
              font-weight: 900;
            }
            &:hover {
              background-color: transparent;
              transition: 0.6s;
              a {
                color: #3a908a;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .mySwiper {
        height: 35rem !important;
      }
      .mySwiper .slideItems .content {
        top: 15rem;
        h1 {
          width: 100%;
          font-size: 1.8rem;
          line-height: 40px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .mySwiper {
        height: 30rem !important;
      }
      .mySwiper .slideItems .content {
        top: 12rem;
        h1 {
          font-size: 1.5rem;
          line-height: 32px;
        }
      }
    }
    @media screen and (max-width: 480px) {
    
      .mySwiper .slideItems .content {
        top: 10rem;
        h1 {
          font-size: 1.2rem;
          line-height: 28px;
        }
      }
    }
  }

  //   section 2
  .service {
    width: 100%;
    font-family: "Poppins", sans-serif;
    margin-top: 9rem;
    margin-bottom: 8rem;

    .content {
      text-align: center;
      span {
        color: #3a908a;
        font-weight: bold;
      }
      h3 {
        padding-top: 30px;
        margin: 0 8rem;
        font-size: 40px;
        line-height: 52px;
        font-weight: 400;
        color: #1f1f1f;
        font-weight: bold;
      }
    }

    .service-row {
      margin-top: 6rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      .row {
        flex: 1 1 300px;
        max-width: 350px;
        min-height: 22rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(179, 179, 179, 0.4);
        border-radius: 10px;
        padding: 20px;
        img {
          width: 70px;
          margin-bottom: 30px;
        }
        h3 {
          color: #000;
          font-weight: 600;
          margin-bottom: 15px;
        }
        p {
          width: 100%;
          margin-top: 0;
          font-size: 14px;
          color: #848585;
          word-wrap: break-word;
          white-space: normal;
        }
      }
    }

    .moreInfo {
      text-align: center;
      a {
        display: inline-block;
        margin-top: 50px;
        background: #3a908a;
        border: 1px solid #3a908a;
        border-radius: 50px;
        padding: 10px 135px;
        box-shadow: 0px 5px 20px rgba(54, 54, 54, 0.4);
        cursor: pointer;
        color: #fff;
        &:hover {
          background-color: transparent;
          color: #3a908a;
          box-shadow: 0px 0px 0px;
          transition: 0.6s;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      margin-top: 4rem;
      .content {
        display: grid;
        place-items: center;
        h3 {
          width: 100%;
          font-size: 1.35rem;
          line-height: 2rem;
          margin: 0;
        }
      }
      .service-row {
        width: 100%;
        .row {
          flex-basis: calc(50% - 20px);
        }
      }
      .moreInfo a {
        padding: 10px 105px;
      }
    }
    @media screen and (max-width: 768px) {
      .content h3 {
        font-size: 1.2rem;
        margin: 0 2rem;
      }
      .service-row .row {
        flex-basis: 100%;
      }
    }
    @media screen and (max-width: 480px) {
      .service-row .row {
        min-height: auto;
      }
    }
  }

  //   section 3
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 44rem;

    .leftside {
      width: 50%;
      img {
        height: 100%;
        margin-left: -60px;
      }
    }
    .rightside {
      background: #1f1f1f;
      font-family: "Poppins", sans-serif;
      padding: 200px 100px;
      width: 50%;
      color: #fff;
      h4 {
        margin-bottom: 20px;
      }
      span {
        font-size: 40px;
      }
      p {
        margin-top: 20px;
        color: #c9c9c9;
      }

      .aboutus {
        display: inline-block;
        background: #3a908a;
        border: 1px solid #3a908a;
        border-radius: 30px;
        padding: 12px 33px;
        cursor: pointer;
        margin-top: 40px;
        a {
          color: #fff;
          font-family: "Poppins", sans-serif;
          font-weight: 900;
          span {
            font-size: 16px;
            font-weight: 500;
          }
        }
        &:hover {
          background-color: transparent;
          transition: 0.6s;
          a {
            color: #3a908a;
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      height: auto;
      .leftside {
        display: none;
      }
      .rightside {
        padding: 70px 50px;
        width: 100%;
      }
    }
  }

  //   section 4
  .previous_works {
    width: 100%;
    margin-top: 9rem;
    font-family: "Poppins", sans-serif;
    .work {
      .content {
        text-align: center;
        display: grid;
        place-items: center;
        h3 {
          padding-top: 30px;
          margin: 0 18rem;
          font-size: 40px;
          color: #1f1f1f;
          font-weight: bold;
        }
        p {
          width: 40rem;
          color: #727272;
        }
      }

      .projectsData {
        margin-top: 2rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }
    }
    @media screen and (max-width: 1024px) {
      margin-top: 2rem;
      display: grid;
      place-items: center;
      .work {
        .content {
          h3 {
            width: 100%;
            padding-top: 30px;
            margin: 0 5rem;
            font-size: 30px;
          }
          p {
            width: 100%;
          }
        }
        .projectsData {
          margin-top: 2rem;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .work .content h3 {
        font-size: 26px;
        margin: 0 2rem;
      }
    }
    @media screen and (max-width: 480px) {
      .work .content h3 {
        font-size: 22px;
        margin: 0 1rem;
      }
    }
  }

  //   section 5
  .how_work {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    margin-top: 5rem;

    .leftside {
      font-family: "Poppins", sans-serif;
      align-items: center;
      padding: 100px;
      width: 45%;
      z-index: 1;
      h3 {
        font-size: 40px;
        margin-bottom: 30px;
      }
      p {
        font-size: 15px;
        color: #707070;
      }
      .watch {
        margin-top: 40px;
        display: flex;
        align-items: center;
        .video_watch {
          background: #3a908a;
          border: 1px solid #3a908a;
          border-radius: 50px;
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          button {
            background: none;
            border: none;
            padding: 0;
            display: flex;
            align-items: center;
            cursor: pointer;

            .play {
              color: #fff;
              font-size: 40px;
            }
          }
          &:hover {
            background-color: transparent;
            transition: 0.6s;
            .play {
              color: #3a908a;
            }
          }
        }
        .text {
          font-size: 20px;
          margin-left: 20px;
        }
      }
    }

    .rightside {
      width: 55%;
      
      img {
        width: 90%;
        height: 400px;
        border-radius: 40px;
        display: grid;
        place-items: center;
        object-fit: cover; 
   
      }
      iframe {
        width: 90%;
        height: 25rem;
        border-radius: 40px;
        display: grid;
        place-items: center;
        object-fit: cover; 
      }
    }

    @media screen and (max-width: 1024px) {
      height: 100%;
      display: block;
      margin-top: 2rem;
      .leftside {
        width: 100%;
        height: auto;
        padding: 0px 40px;
        h3 {
          font-size: 30px;
          margin-bottom: 15px;
        }
        .watch {
          margin-top: 20px;
          .video_watch {
            padding: 15px 15px;
            width: 60px;
            height: 60px;
          }
        }
      }
      .rightside {
        margin-top: 20px;
        height: 100%;
        width: 100%;
        img,
        iframe {
        width: 80%;
        height: 400px;
        margin: 0 30px;
        border-radius: 40px;
        display: grid;
        place-items: center;
        object-fit: cover; 
        }
      }
    }
    @media screen and (max-width: 768px) {
      .rightside img,
      .rightside iframe {
        width: 95%;
        margin: 0 auto;
        height: 22rem;
      }
    }
    @media screen and (max-width: 480px) {
      .leftside {
        padding: 0 20px;
      }
      .rightside img,
      .rightside iframe {
        height: 12.5rem;
        border-radius: 40px;
        display: grid;
        place-items: center;
        object-fit: cover; 
      }
    }
  }

  // section 6
  .partners {
    width: 100%;
    margin-top: 9rem;
    font-family: "Poppins", sans-serif;
    .content {
      text-align: center;
      display: grid;
      place-items: center;
      h3 {
        padding-top: 30px;
        margin: 0 18rem;
        font-size: 40px;
        color: #1f1f1f;
        font-weight: bold;
      }
      p {
        margin-top: 30px;
        color: #727272;
        width: 50rem;
      }
    }
    .partners_logo {
      margin-top: 50px;
      img {
        display: block;
        margin: 0 auto;
        height: 40px;
      }
      .mics {
        height: 30px;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-top: 2rem;
      .content {
        width: 100%;
        h3 {
          margin: 0 5rem;
          font-size: 30px;
        }
        p {
          width: 100%;
        }
      }
      .partners_logo {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        img {
          height: 30px;
        }
        .mics {
          height: 22px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .content h3 {
        font-size: 26px;
      }
    }
    @media screen and (max-width: 480px) {
      .content h3 {
        font-size: 22px;
      }
      .partners_logo {
        img {
          height: 20px !important;
        }
        .mics {
          height: 14px !important;
        }
      }
    }
  }

  // section 7
  .get_in_touch {
    width: 100%;
    margin-top: 9rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    .content {
      display: grid;
      place-items: center;
      h3 {
        font-size: 40px;
        color: #1f1f1f;
        line-height: 52px;
        font-weight: 400;
      }
      p {
        margin-top: 30px;
        width: 43.75rem;
        font-size: 14px;
        color: #707070;
      }
    }

    .form {
      display: grid;
      place-items: center;
      form {
        margin-top: 90px;
        width: 70%;

        .row1 {
          display: flex;
          justify-content: space-between;
          input {
            width: 45%;
          }
        }

        input,
        textarea {
          width: 100%;
          border: 1px solid #c9c9c9;
          outline: none;
          border-radius: 30px;
          padding: 20px 16px;
          margin-bottom: 25px;
          font-size: 14px;
          color: #000;
          font-weight: 400;
          font-family: "Poppins", sans-serif;
        }

        input {
          height: 50px;
        }

        textarea {
          height: 13rem;
        }

        .boxed_btn {
          background: #3a908a;
          width: 100%;
          color: #fff;
          display: inline-block;
          padding: 12px 33px;
          font-size: 16px;
          font-weight: 500;
          border: 1px solid transparent;
          border-radius: 30px;
          text-align: center;
          cursor: pointer;
          font-family: "Poppins", sans-serif;
          &:hover {
            background-color: transparent;
            transition: 1s;
            border: 1px solid #3a908a;
            color: #3a908a;
          }
        }
      }
    }
    @media screen and (max-width: 1024px) {
      margin-top: 3.5rem;
      .content {
        width: 100%;
        h3 {
          font-size: 30px;
        }
        p {
          margin-top: 20px;
          width: 100%;
        }
      }
      .form {
        width: 100%;
        form {
          margin-top: 3rem;
          width: 100%;

          .row1 {
            flex-wrap: wrap !important;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


