.service{
  width: 100%;
    .cover {
        height: 35rem;
        background-image: url(../../image/service2.jpg);
        position: relative;
        background-size: cover;
        background-position: 10% 55%;
        background-repeat: no-repeat;
    
        .overlay {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0.3;
        }
        .content {
          position: absolute;
          width: 100%;
          top: 18rem;
          h2 {
            color: #fff;
            // width: 80%;
            font-size: 3.5rem;
            font-weight: 900;
            line-height: 70px;
            font-family: "Poppins", sans-serif;
            margin-bottom: 50px;
          }
        }
      }

      .service_teil {
        font-family: "Poppins", sans-serif;
        margin-top: 9rem;
        margin-bottom: 8rem;
        .content {
          text-align: center;
          span {
            color: #3a908a;
            font-weight: bold;
          }
          h3 {
            padding-top: 30px;
            margin: 0 12rem;
            font-size: 35px;
            line-height: 45px;
            font-weight: 400;
            color: #1f1f1f;
            font-size: bold;
          }
        }

        .service-row {
            margin-top: 6.25rem;
           
            .row {
              text-align: center;
              display: grid;
              place-items: center;     
              margin-top: 5rem;       
              img {
                width: 150px;
                margin-bottom: 30px;
              }
              h3{
                font-size: 25px
              }
      
              p {
                margin-top: 20px;
                font-size: 14px;
                color: #848585;
              }
            }
          }
    
        
      }
}

@media screen and (max-width: 1000px) {

  .service{
    width: 100%;
    .cover{
      height: 30rem;
      width: auto;
    }


    .service_teil {
      font-family: "Poppins", sans-serif;
      margin-top: 5rem;
      width: auto;
      .content {
        width: auto;
        text-align: center;
        display: grid;
        place-items: center;
        h3 {
          margin: 0 1rem;
          font-size: 1.3rem;
          line-height: 2rem;
        }
      }
    }


  }
}