@tailwind base;
@tailwind components;
@tailwind utilities;

// global css
@import "./base/index.scss";  


// google font
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tangerine:wght@700&display=swap');
  

// componenets
@import "./components/header.scss";
@import "./components/footer.scss";

// page
@import "./page/home.scss";
@import "./page/about.scss";
@import "./page/contact.scss";
@import "./page/service.scss";
@import "./page/mics.scss";
@import "./page//eore.scss";
@import "./page/eu.scss";